@import '../../sass/variables', '../../sass/mixins';

.pokemon-view {
  background-color: #fdcd3b;
  background-image: -webkit-linear-gradient(150deg, #0b5394 30%, #0b5394 30%);
  min-height: 100vh;

  .container-input {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    width: 50%;

    input {
      margin-top: 24px;
      margin-bottom: 24px;
      border-radius: 10px;
      color: $colorFont;
      border: solid 2px $colorSec;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 15px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        opacity: 0.5;
        font-weight: 400;
      }
    }
  }

  .grid {
    max-width: 100%;
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
  }

  .column {
    text-align: center;
    background-color: white;
    color: $colorFont;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    box-shadow: 0px 6px 10px 1px rgba(36, 37, 38, 0.08);

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .container-button {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  .button-style {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: $colorButtonGreen;
    color: white;
    width: 200px;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

}
