<div class="pokemon-view">
  <div class="container-input">
    <input type="text" placeholder="Search Pokemon Name / ID" [(ngModel)]="query">
  </div>
  <div class="grid" *ngIf="pokemon">
    <div class="column" *ngFor="let item of pokemon | search: query" [routerLink]="['/detail', item?.name]">
      <p>{{ (item?.id > 10 ? '#0' : '#00' ) + item?.id }} - {{ item?.name }}</p>
      <img [src]="item?.imageFront" />
      <img [src]="item?.imageBack" />
    </div>
  </div>
  <div class="container-button">
    <button class="button-style" (click)="onSubmit()">Load More</button>
  </div>
</div>
